In [1]:
import numpy as np
import pandas as pd
import datetime as dt

def cleanData(filename,startdate,enddate):
    df = pd.read_csv(filename)
    
    #convert date column to datetime objects
    df["DATE"] = pd.to_datetime(df["DATE"]) #takes a bit to run 
    
    start, end = pd.to_datetime([startdate,enddate],format='%d%b%Y')
    
    #filter out only dates starting from start date and ending with end date
    df = df[(df["DATE"] >= start) & (df["DATE"] <= end)]
    
    #drop all rows that contain NaN in the Borough and Zip Code column 
    df = df.dropna(subset=["BOROUGH","ZIP CODE"])
    
    #change Time column to datetime objects
    df['TIME'] = pd.to_datetime(df['TIME'],format= '%H:%M' ).dt.time
    
    #change Zip Code column to integers
    df['ZIP CODE'] = df['ZIP CODE'].astype('int64')
    
    #only get relevant columns
    df = df.drop(["LOCATION","LATITUDE","LONGITUDE","ON STREET NAME","CROSS STREET NAME",\
         "OFF STREET NAME","CONTRIBUTING FACTOR VEHICLE 3","CONTRIBUTING FACTOR VEHICLE 4",\
         "CONTRIBUTING FACTOR VEHICLE 5","UNIQUE KEY","VEHICLE TYPE CODE 1",
         "VEHICLE TYPE CODE 2","VEHICLE TYPE CODE 3","VEHICLE TYPE CODE 4","VEHICLE TYPE CODE 5"],axis=1)
    df = df.loc[df["CONTRIBUTING FACTOR VEHICLE 1"] != "Unspecified"]
    
    return df

In [2]:
df = cleanData("~/Downloads/NYPD_Motor_Vehicle_Collisions.csv","1NOV2017","31OCT2018")
print("Size of data after cleaning: ",df.shape)
df.head()

/Users/micaelaflores/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2903: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

(105592, 14)

,DATE,TIME,BOROUGH,ZIP CODE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2
3724,2018-10-31,00:00:00,BRONX,10467,0,0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,Unspecified
3725,2018-10-31,00:00:00,BRONX,10473,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified
3726,2018-10-31,00:00:00,BROOKLYN,11229,0,0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN
3727,2018-10-31,00:00:00,MANHATTAN,10035,0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified
3734,2018-10-31,00:40:00,MANHATTAN,10022,0,0,0,0,0,0,0,0,Failure to Yield Right-of-Way,Unspecified